@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
.header {
  color: white;
  font-size: 30px;
  text-align: center;
}
.rowC {
  display: flex;
  flex-direction: row;
  padding: '10';
}
.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.season {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.seasonDropdown {
  top: 50%;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.text-primary {
  color: var(--primary-color);
}
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 50%;
  padding: 0.4rem;
  font-size: 1.2rem;
  align-content: center;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}
