@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.header {
  color: white;
  font-size: 30px;
  text-align: center;
}
.rowC {
  display: flex;
  flex-direction: row;
  padding: '10';
}
.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.season{
  display:flex;
  align-items: center;
  font-size: 15px;
}

.seasonDropdown{
  top:50%;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}